# ========== DEPENDENCIAS ==========
node_modules/
.pnp.*
.pnp/

# ========== BUILD / NEXT ==========
.next/
.next-turbo/
out/
.turbo/

# ========== LOGS ==========
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# ========== ENTORNOS (.env) ==========
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# (En el host como Railway definirás las variables en el panel,
#  no se suben al repo)

# ========== PRISMA / SQLITE LOCAL ==========
/prisma/dev.db
/prisma/dev.db-journal
/prisma/*.db
/prisma/*.db-journal

# (NO ignores prisma/schema.prisma ni prisma/migrations/,
#  esos sí deben ir al repo)

# ========== TEST / COVERAGE ==========
coverage/
*.tmp

# ========== EDITORES / SO ==========
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
.DS_Store
Thumbs.db

# ========== VARIOS ==========
dist/
